<DOCTYPE HTML5!>
    <head>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Yesteryear&display=swap" rel="stylesheet">
    </head>
    
    <body>

        <div id="workNav">
            <div></div>
            <div class="navItem"><a href="index.html">Home</a></div>
            <div class="navItem"><a href="index.html">About Me</a></div>
            <div class="navItem"><a href="index.html">My Works</a></div>
            <div class="navItem"><a href="index.html">Contact Me</a></div>
        </div>
        
        <h1>Personal Baking Blog Project</h1>
        
        <section id="projectThumbnail">
        <img src="assets/bakingProject.png">
        </section>
        
        <section id="introTiles">
            
            <div></div>
            
                <div class="tile">
                    <div id="tileTitle">Project Brief</div>
                        <p class="tileText">As this was a personal project, the brief was extensively flexible, allowing for as much or as little changes across the span of the project.</p>
                        <p></p>
                        <p class="tileText">The general idea of this project however was to create a baking blog website that followed the conventions of current existing baking blogs, allowing the owner to post recipes and comment on how well they went in order to inform their users on recipes they should try themselves, and recipes they should try to avoid.</p>
                        <p></p>
                        <p class="tileText">The owner also wanted a small number of pages - quality over quantity - to allow them to easily manage the website.</p>
                </div>
            
            <div></div>
            
                <div class="tile">
                    <div id="tileTitle">Design Requirements</div>
                        <p class="tileText">This brief came with a number of requirements.</p>
                            <ul class="tileText">
                                <li>A house style to match the pre-existing logo</li>
                                <li>Set pages:</li>
                                <li>Homepage</li>
                                <li>About Page</li>
                                <li>Recipes Page</li>
                                <li>Recent Recipes Page</li>
                                <li>Individual Recipes Page</li>
                                <li>Contact Details</li>
                                <li>A friendly, laid-back feel</li>
                                <li>Design must meet the conventions of pre-existing baking blog websites</li>
                            </ul>
                </div>
            
            <div></div>
            <div></div>
            
                <div class="tile">
                    <div id="tileTitle">Completion</div>
                        <p class="tileText">This project was a back-burner personal project, meaning there was no set deadline for it’s completion - just a project to be worked on in my spare time. The project ran from Aug 18th to Feb 15th, being completed in just under 6 months total.</p>
                </div>
            
            <div></div>
            
                <div class="tile">
                    <div id="tileTitle">Live Project Link</div>
                        <p class="tileText">https://www.figma.com/proto/LKBso3KFpNVu3mXMbDcbGK/Search-Results-Redesign?node-id=0%3A3&scaling=min-zoom&page-id=0%3A1</p>
                </div>
            
        </section>
        
        <section id="content">
            <h1>Methodology Used</h1>
            <p>The methodology used for this project was AGILE. Agile methodology involves working around these 6 steps.</p> 
                <ul>
                    <li>Plan - this is where the requirements for the project are established, along with the general workflow that is expected to happen, along with timings on how long should be spent on each sprint.</li>
                    <li>Design - the software is designed, taking the requirements into account and designing based around them.</li>
                    <li>Develop - in this case, the development would be the prototyping of the project, implementing the design in a way that can be used by users/clients.</li>
                    <li>Test - this involves making sure that everything works as it should, testing every element to ensure it's been implemented correctly.</li>
                    <li>Release - this is where the project would be released to the users, allowing their use of it.</li>
                    <li>Feedback - the users would then provide feedback on how the system could be improved.</li>
                    <li>AGILE is also an iterative process, meaning it repeats as many times as it needs to to complete the project. But first, the project needed to follow the first step. Planning.</li>
                </ul>
            
            <h1>Research and Planning</h1>
            <p>The brief requests that this is a conventional baking blog, and therefore before beginning to even think of design, it’s important to look at a number of existing websites to get a grasp of their conventions in order to implement them in these designs. </p>
            <p>Lets look at a few examples:</p>
                <ul>
                    <li>https://www.browneyedbaker.com</li>
                    <li>https://www.janespatisserie.com</li>
                    <li>https://glutenfreecuppatea.co.uk</li>
                    <li>https://www.thelittleblogofvegan.com</li>
                    <li>https://thebakingexplorer.com</li>
                    <li>https://sandhyahariharan.co.uk</li>
                    <li>https://www.hummingbirdhigh.com</li>
                    <li>https://www.baked-theblog.com</li>
                    <li>https://www.butterbaking.com</li>
                    <li>https://crumbleandcrunch.co.uk</li>
                </ul>
            <img id="recipegrid" src="assets/recipegrid.png">
            <img id="table" src="assets/Screenshot%202021-05-06%20141033.png">
            <p>This is a great starting point in thinking about the possible designs for this site, as the more conventional features included, the better the design will fit the brief.</p>
            
            <h1>Prototyping</h1>
            <p>This section will be coming soon! Currently I do not have access to an adequate scanner for the low fidelity prototypes.</p>
            
            <h1>Finished Product</h1>
            <p>The finished product for this design can be found here:</p>
            <p>https://www.figma.com/proto/PixA36N7JHdzZXTreTow3o/Zero-Effort?node-id=1%3A2&scaling=min-zoom</p>
            
        </section>
        
        <footer>
            <div id="backToTop">
                <a href="index.html">
                    <img id="topArrow" src="assets/arrowTop.png">
                    <div>Back to Top</div>
                </a>
            </div>
            
            <div id="footerText">
                <p>Thanks for checking out my portfolio!</p>
                <p>Created by Samantha Ely 2021</p>
            </div>
            
            <div id="footerNav">
                <a href="index.html">
                    <div>Home</div>
                    <div>About Me</div>
                    <div>My Works</div>
                    <div>Contact Me</div>
                </a>
            </div>
            
        </footer>

    </body>
    
</DOCTYPE>