<DOCTYPE HTML5!>
    <head>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Yesteryear&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <section id="stripBanner">
            <img id="bannerImg" src="assets/background.JPG">
            <img id="meStamp" src="assets/meStamp.png">
            <img id="arrow" src="assets/arrow.png">
        </section>
        

        <nav>
            <div></div>
            <div class="navItem"><a href="index.html">About Me</a></div>
            <div class="navItem"><a href="index.html">My Works</a></div>
            <div class="navItem"><a href="index.html">Contact Me</a></div>
        </nav>

        
        <h1>About Me</h1>
        <section id="aboutSection">
            <img id="aboutImg" src="assets/aboutme.PNG">
            <div id="aboutText">
                <p id="aboutBold">Hi there! My name’s Samantha Ely, and I’m an aspiring UX/UI Designer.</p> 
                <p>You want to learn more about me? I’m flattered! Well, I’m almost 21 (in July!) and I’m just a regular Greater Manchester gal who’s (scarily) not far off finishing her degree in BSc (Hons) in Web Design & Development. In my spare time you can usually find me doing one of two things - one, I absolutely love video games. Throughout the pandemic they’ve helped me stay connected with my closest friends, even on the other side of the country.</p>
                <p>Two - I love to bake! I’m currently working on a lil baking side project called Zero Effort that you can check out below - showing off both the best and the absolute worst recipes I've found in my baking adventures.</p>
                <p>Thanks for checking out my portfolio! Be sure to take a look at my past works and projects!</p>
                <p id="aboutBold">Enjoy your stay!</p>
                <p id="signature">Samantha</p>
            </div>  
        </section>
        
        <div class="spacers">i</div>
        
        <h1>My Works</h1>
        <section id="worksSection">
            <a id="a1" href="bakingWork.html"><img id="thumbnail1" src="assets/worksBaking.png">
            <img id="hover1" src="assets/hover1.png"></a>
            <a id="a2" href="messageWork.html"><img id="thumbnail2" src="assets/worksMessage.png">
            <img id="hover2" src="assets/hover3.png"></a>
            <a id="a3" href="searchWork.html"><img id="thumbnail3" src="assets/worksSearch.png">
            <img id="hover3" src="assets/hover2.png"></a>
        </section>
        
        <div class="spacers">i</div>
        
        <h1>Contact Me</h1>
        <section id="contact">
            <p id="contactText">I can’t wait to hear from you!</p>
            <a href="index.html"><img id="socials" src="assets/socials.png"></a>
        </section>
        
        <footer>
            <div id="backToTop">
                <a href="index.html">
                    <img id="topArrow" src="assets/arrowTop.png">
                    <div>Back to Top</div>
                </a>
            </div>
            
            <div id="footerText">
                <p>Thanks for checking out my portfolio!</p>
                <p>Created by Samantha Ely 2021</p>
            </div>
            
            <div id="footerNav">
                <a href="index.html">
                    <div>Home</div>
                    <div>About Me</div>
                    <div>My Works</div>
                    <div>Contact Me</div>
                </a>
            </div>
            
        </footer>

    </body>
    
</DOCTYPE>