<DOCTYPE HTML5!>
    <head>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Yesteryear&display=swap" rel="stylesheet">
    </head>
    
    <body>

        <div id="workNav">
            <div></div>
            <div class="navItem"><a href="index.html">Home</a></div>
            <div class="navItem"><a href="index.html">About Me</a></div>
            <div class="navItem"><a href="index.html">My Works</a></div>
            <div class="navItem"><a href="index.html">Contact Me</a></div>
        </div>
        
        <h1>Instant Messaging Service</h1>
        
        <section id="projectThumbnail">
        <img src="assets/messagingProject.png">
        </section>
        
        <section id="introTiles">
            
            <div></div>
            
                <div class="tile">
                    <div id="tileTitle">Project Brief</div>
                        <p id="tileText">This is for a company called Smaller Earth, specifically for their Camp Leaders programme. In short, they're looking for a custom made instant messaging service between their support team and applicants. They specifically requested it be a custom-build instant messaging service, as in the future they're looking to expand it to allow applicants to reach potential employers - not just the support team.</p>
                        <p id="tileText">They wish for it also to be accessible from all pages of their website, meaning it must suit any and all styles on their different pages.</p>
                </div>
            
            <div></div>
            
                <div class="tile">
                    <div id="tileTitle">Design Requirements</div>
                        <p class="tileText">This brief came with a number of requirements, namely a list of features that should be displayed for every participant to provide the necessary information:</p>
                            <ul class="tileText">
                                <li>A house style to match the pre-existing site</li>
                                <li>Provide communication between applicants and customer service</li>
                                <li>FAQs available before starting a chat</li>
                                <li>Needs to be a working mockup</li>
                                <li>Past messages are able to be viewed, even after leaving the page</li>
                                <li>Doesnt leave the current page</li>
                                <li>Can be used on any and all pages</li>
                                <li>Have a mobile version also</li>
                            </ul>
                </div>
            
            <div></div>
            <div></div>
            
                <div class="tile">
                    <div id="tileTitle">Completion</div>
                        <p class="tileText">This project’s started on 29th January 2021 and the deadline was set for May 11th 2021, however this project was completed much before the deadline, at approximately March 19th. </p>
                </div>
            
            <div></div>
            
                <div class="tile">
                    <div id="tileTitle">Live Project Link</div>
                        <p class="tileText">https://www.figma.com/proto/MYRowV39n7YKkODAcAPMi6/Large-Brief-Instant-Messaging-Service?node-id=1%3A2&scaling=min-zoom&page-id=0%3A1</p>
                </div>
            
        </section>
        
        <section id="content">
            <h1>Methodology Used</h1>
            <p>The methodology used for this project was AGILE. Agile methodology involves working around these 6 steps.</p> 
                <ul>
                    <li>Plan - this is where the requirements for the project are established, along with the general workflow that is expected to happen, along with timings on how long should be spent on each sprint.</li>
                    <li>Design - the software is designed, taking the requirements into account and designing based around them.</li>
                    <li>Develop - in this case, the development would be the prototyping of the project, implementing the design in a way that can be used by users/clients.</li>
                    <li>Test - this involves making sure that everything works as it should, testing every element to ensure it's been implemented correctly.</li>
                    <li>Release - this is where the project would be released to the users, allowing their use of it.</li>
                    <li>Feedback - the users would then provide feedback on how the system could be improved.</li>
                    <li>AGILE is also an iterative process, meaning it repeats as many times as it needs to to complete the project. But first, the project needed to follow the first step. Planning.</li>
                </ul>
            
            <h1>Research & Planning</h1>
            <p>The requirements are laid out above, so lets begin research into existing instant messaging for support services. </p>
            
            <img id="msgExample" src="assets/supp1.png">
            
            <p>Here is the first one, from Currys PC World (https://www.currys.co.uk). It shows a picture of a person in the bottom left, with a small chat bubble suggesting that they're there to help. When clicked, this opens up an overlay that offers you a video chat with one of their advisors - this isnt exactly what's needed for this project, but the idea of having a picture of a helpful person offering assistance is helpful in that it doesn't leave the page, doesn't get in the way of the content, and fits with every page is note-worthy.</p>
            
            <img id="msgExample" src="assets/supp3.png">
            
            <p>Moving to something that allows for actual messaging, Mobile Monkey (https://mobilemonkey.com/blog/web-chat-examples) provides this version of a live chat. This is really interesting, in that it actually doesn't involve another person - the questions are answered by a bot. This allows the user to pick what category they wish to know more information about, and the bot answers with pre-determined responses. As much as this is helpful in terms of keeping staffing costs down, if the user has a question not related to any of the categories then they can't get any assistance with it. In terms of layout however this is very helpful - it actually has a space for the user to type, but if anything other than the offered categories are typed then it says that you must pick one of the categories, and wont respond to anything else. The idea of the chat box being a small window on the side of the screen is most helpful, as once it doesnt cover any content allowing the page to be mostly viewable, and clicking outside of the chat box closes the overlay, making it very easy to navigate.</p>
            
            <img id="msgExample" src="assets/supp2.png">
            
            <p>Lastly, this is exactly what this project needs - Warby Parker (https://www.warbyparker.com) provides a live chat box showcasing many of the features wanted via the brief requirements. First of all, it has the small icon in the corner offering help, and when clicked opens this window. The window first offers frequently asked questions, along with a search bar to look for questions containing certain words. If the FAQ doesnt answer the user's question, they offer a live chat service - first of all with a bot which collects your needed information, and then passes you on to a real person to answer your questions. This is a perfect example as it includes many of the features required from the brief, and will likely be a great inspiration for the designing of this project. </p>
            <p> Now that desktop has been explored, lets see how these are adapted to a mobile layout. </p>
            
            <img id="mobileMsg1" src="assets/pm1.png">
            <img id="mobileMsg" src="assets/pm2.png">
            <img id="mobileMsg" src="assets/pm3.png">
            
            <p>As can be seen here, PC World don't adapt it much at all - the image is still in the bottom right corner, the same image, the same chat bubble, but when the overlay opens it takes over the whole screen instead of just a portion of it. This makes sense as a phone screen is smaller - if the ratio was kept the same, it's likely that the text wouldn't even be readable. </p>
            <p>MobileMonkey does the same - the icon stays in the bottom right, and the chatbox takes up the whole screen. The options remain the exact same, staying consistent throughout desktop and mobile alike.</p>
            <p>And Warby Parker follows close behind - again, using the exact same overlay just allowing it to take over the whole screen instead of just a portion. The questions are the same, the buttons are the same, it's simply just made to fit on a phone screen in terms of sizing. The downside to this design however is that it's not evident that this is just an overlay - it gives the impression that it's a whole new page due to the whole page being taken up by this new overlay, which could be confusing to users.</p>
            
            <h1>Prototyping</h1>
            <p>With the research completed, time to move into possible designs and low fidelity prototypes - keeping in mind that the overlay won't change at all between mobile and desktop, so it should be compatible with both. Just like the research examples, the overlay will be opened with a small icon placed on the bottom right side of the screen, with a picture of a support team member offering assistance. The important part of this is the overlay itself. </p>
            
            <h2>Prototype 1</h2>
            <img id="overlayPrototype" src="assets/o1.jpg">
            <p>Here is the first prototype, showing how the FAQs could possibly be laid out. It takes inspiration from Warby Parker, with a question of how can we help at the top, followed by questions - the only difference here being the answers to said questions are displayed underneath, which is great for simplicity in design, giving the user exactly what they want in one frame. The biggest problems with this design however is that when there's lot of questions, it provides no real way to filter them - meaning the user would have to scroll through possibly hundreds of questions before finding what they wanted in the first place. It also doesn't make it completely abundant that you can scroll at all - users may think that if they had any questions other than the ones shown, they would have to contact support.</p>
            
            <h2>Prototype 2</h2>
            <img id="overlayPrototype" src="assets/o2.jpg">
            <p>Here is an improved version of this overlay - it contains the FAQ in it's own box, showing that the FAQs are separate from the live chat. It also condenses the questions into specific categories, making it much easier for users to sift through and find exactly what they need - what's more, is if these categories end up being too large, they can be broken down further into more subcategories to allow the user to find exactly what they want. The arrows also make it very clear that these categories expand. Lastly, the live chat button is much more obviously a button that can be clicked now, and the text change to "Chat with us here!" instead of just "Chat with us!" makes it even more obvious that this is how applicants can access support. This is a great design to work with for the finished product.</p>
            
            <h1>Finished Products</h1>
            <p>The finished products can be found here:</p>

            <p>https://www.figma.com/proto/MYRowV39n7YKkODAcAPMi6/Large-Brief-Instant-Messaging-Service?node-id=1%3A2&scaling=scale-down&page-id=0%3A1
                https://www.figma.com/proto/MYRowV39n7YKkODAcAPMi6/Large-Brief-Instant-Messaging-Service?node-id=77%3A23&scaling=scale-down&page-id=76%3A2</p>

            <p>In the case that these links are inaccessible (due to Figma soon becoming a paid program), videos of each prototype can be found here:</p>
            <p>https://drive.google.com/drive/folders/1RRvTNRMCTIflMTw7ernM7cf6WsKWrOwm?usp=sharing</p>
            
        </section>
        
        <footer>
            <div id="backToTop">
                <a href="index.html">
                    <img id="topArrow" src="assets/arrowTop.png">
                    <div>Back to Top</div>
                </a>
            </div>
            
            <div id="footerText">
                <p>Thanks for checking out my portfolio!</p>
                <p>Created by Samantha Ely 2021</p>
            </div>
            
            <div id="footerNav">
                <a href="index.html">
                    <div>Home</div>
                    <div>About Me</div>
                    <div>My Works</div>
                    <div>Contact Me</div>
                </a>
            </div>
            
        </footer>

    </body>
    
</DOCTYPE>