<DOCTYPE HTML5!>
    <head>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Yesteryear&display=swap" rel="stylesheet">
    </head>
    
    <body>

        <div id="workNav">
            <div></div>
            <div class="navItem"><a href="index.html">Home</a></div>
            <div class="navItem"><a href="index.html">About Me</a></div>
            <div class="navItem"><a href="index.html">My Works</a></div>
            <div class="navItem"><a href="index.html">Contact Me</a></div>
        </div>
        
        <h1>Search Results Redesign</h1>
        
        <section id="projectThumbnail">
        <img src="assets/searchProject.png">
        </section>
        
        <section id="introTiles">
            
            <div></div>
            
                <div class="tile">
                    <div id="tileTitle">Project Brief</div>
                    <p class="tileText">The brief required a redesign of Cleversteam's search results page for when they're looking for currently available participants. </p><p></p>
                    <p class="tileText">As it stands, the design for said search results is fairly poor as the tiles offer little to no information on the participant without having to click to find out more; when quickly looking for suitable participants, this can be very time-consuming.</p><p></p>
                    <p class="tileText">Thus, Cleversteam were looking for a redesign that includes presenting a set list of information about each applicant, allowing them to easily choose which participant to interview from this page directly, rather than having to look at each individual profile.</p>
                </div>
            
            <div></div>
            
                <div class="tile">
                    <div id="tileTitle">Design Requirements</div>
                        <p class="tileText">This brief came with a number of requirements, namely a list of features that should be displayed for every participant to provide the necessary information:</p>
                            <ul class="tileText">
                                <li>Name</li>
                                <li>Program</li>
                                <li>Age</li>
                                <li>Availability Dates</li>
                                <li>Top 3 Skills</li>
                                <li>Profile Picture</li>
                                <li>Option to Interview</li>
                                <li>Primary Language</li>
                                <li>Student Status</li>
                            </ul>
                </div>
            
            <div></div>
            <div></div>
            
                <div class="tile">
                    <div id="tileTitle">Completion</div>
                        <p class="tileText">This project’s started on 29th January 2021 and the deadline was set for May 11th 2021, however this project was completed much before the deadline, at approximately February 27th. </p>
                </div>
            
            <div></div>
            
                <div class="tile">
                    <div id="tileTitle">Live Project Link</div>
                        <p class="tileText">https://www.figma.com/proto/LKBso3KFpNVu3mXMbDcbGK/Search-Results-Redesign?scaling=min-zoom&page-id=0%3A1&node-id=0%3A3</p>
                </div>
            
        </section>
        
        <section id="content">
            <h1>Methodology Used</h1>
            <p>The methodology used for this project was AGILE. Agile methodology involves working around these 6 steps.</p> 
                <ul>
                    <li>Plan - this is where the requirements for the project are established, along with the general workflow that is expected to happen, along with timings on how long should be spent on each sprint.</li>
                    <li>Design - the software is designed, taking the requirements into account and designing based around them.</li>
                    <li>Develop - in this case, the development would be the prototyping of the project, implementing the design in a way that can be used by users/clients.</li>
                    <li>Test - this involves making sure that everything works as it should, testing every element to ensure it's been implemented correctly.</li>
                    <li>Release - this is where the project would be released to the users, allowing their use of it.</li>
                    <li>Feedback - the users would then provide feedback on how the system could be improved.</li>
                    <li>AGILE is also an iterative process, meaning it repeats as many times as it needs to to complete the project. But first, the project needed to follow the first step. Planning.</li>
                </ul>
            
            <h1>Planning</h1>
            <p>For this project, there are a number of requirements that can easily be pulled from the brief, as shown above. However, looking at the brief in more detail, there are also some more desirable featured mentioned:</p>
            <ul>
                <li>Tile-based layout</li>
                <li>Included data</li>
                <li>Search results</li>
            </ul>
            <p>Lets discuss these in more detail. First of all, the tile-based layout. The brief stats that they would "like to see how those tiles could be redesigned" - meaning that they are rather happy with the tile-based layout as a whole, and rather than completely overhauling it, they are looking for a redesign of the current tiles. This simply means that whatever design is created for this brief, it must include a tile-based layout for the participants.</p>
            <p>The second requirement refers to the list of data that Cleversteam specifically requested are put in each of these tiles - for each participant, they wish to see their name, program, age, availability dates, top 3 skills, a profile photo, a primary language, and their student status, along with the option to interview them.</p>
            <p>The last requirement is an overarching requirement - it is a search results redesign. The important thing to keep in mind here is that we're redesigning a page of search results, and therefore must fill the conventions of such; for example, most search results pages offer the option to sort the results via a list of different filters - these need to be designed and included on this page. 
            A smaller, hidden requirement that isn't provided by the brief - but is still something to keep in mind - is that this project isn't overhauling Cleversteam's entire branding and housestyle; it's just one page on their website. Therefore, it's crucial to keep their colour schemes and such in mind; keeping it similar to the existing design shown but with the requested improvements.</p>
            
            <h1>Research</h1>
            <p>Before design begins, research on search result pages that already exist must begin - specifically, tile based ones, in accordance with the brief. And where better to start but one of the websites Cleversteam has already worked on?</p>
            
            <img id="projectThumbnail" src="assets/campLeaderStaff.png">
            
            <p>This is a display from https://www.campleaders.com/gb/ when searching for information about their staff - as can be seen, the layout is in the tile-based layout we're looking for, and it also follows a couple of the details that need to be included according to the brief - such as a picture of them, and their name. Other features of note are that the more important parts of the information are highlighted in bold, with a smaller, less bold text underneath - it's also worth noting that they use three pictures in a row, which leaves plenty of room for white space on either side, and it generally looks nicely spaced.</p>
            
            <img id="projectThumbnail" src="assets/yt.png">
            
            <p>This trend is followed in more popular websites such as YouTube - once again, the image is the main feature here, showing that in the design for this brief the picture must be rather prominent. Once again, the important text is boldened, and the less important text is less bold, but here it's even written in a darker colour in order to blend in a little more with the background. The second tile is also quite interesting in that it draws your eye using the "Live Now" in red - calling to action using colour; something that should definitely be used in the design. Lastly, the search criteria/filters can be found across the top, providing a range of ways to refine your search results.</p>
            
            <img id="cardPhoto" src="assets/bc.png">
            
            <p>Looking at a slightly different media can also provide great insight - often in the past when people were looking to be hired, they would hand out business cards such as these. This could be a very apt design, as not only does it have the connections with work and professionalism via being like business cards, but they also allow for both the picture of the person, as shown on the right, but on the left - unlike the other two examples - there is plenty of space to also include all of the features requested by this brief, which is beneficial. </p>
            
            <p>Another area of importance here is to consider exactly where this website will be used. Lots of business-people are now working remotely or on-the-go, and therefore using their mobiles to work. Mobile designs are slightly different from desktop as they have to accommodate smaller screen sizes. So lets see how each of the previously researched websites handle being on smaller screens.</p>
            
                <img id="mobileImage1" src="assets/mobile1.png">
                <img id="mobileImage2" src="assets/mobile2.png">
            
            <p>First of all, the camp leaders page. As can be seen, it's rather similar - everything is simply moved underneath eachother when the page gets below a certain size. Here it can be seen that the title is the same, and the pictures and format of the information underneath are also the same - the only thing that has really changed is that rather than being three in a row, the third picture is moved underneath in order to provide more space so their sizes aren't too altered.</p>
            
            <p>The same applies for YouTube's page - the content and layout is exactly the same, apart from rather than being in rows of four, they're placed under each other to provide more space for scrolling and viewing the content at a comfortable size. It also seems the aside panel is hidden under a button, and clicking it pulls up the navigation menu. Lastly, there is easy access to account information access in the top right in the form of a profile icon. All in all, it seems that the best thing to do here is to keep the design the same, and simply move the times under each other to ensure the content fits smaller viewports.</p>
            
            <h1>Prototyping</h1>
            <p>With research into existing systems and examples having been undertaken, a few low fidelity prototypes have been produced.</p>
            
            <h2>Prototype 1</h2>
            <img id="prototype" src="assets/p1.png">
            <p>Here is the first desktop prototype for this brief. It mostly draws inspiration from YouTube's search results page - with four applicants being presented at once, and the search refining criteria across the top. This design has quite a few flaws. For example, as this site as a whole (not just this page) has an aside panel containing the navigation, four squares seems to be just too many to fit onto this as a row. This also applies a little with the search refining - there are too many categories that the information can be refined by, that the page runs out of space. It could theoretically scroll from side to side, but there must be a better way to present this. Lastly for the flaws, the title seems a little too high up on the page, almost hugging the address bar - a little spacing between them would be more aesthetically pleasing. The advantages of this design however though are that they include the image as the main focus, and the writing (although hard to see on this scan) contains the bold text follows by normal text to indicate categories and importance; both of these work rather well.</p>
            
            <h2>Prototype 2</h2>
            <img id="prototype" src="assets/p2.jpg">
            <p>And here is the second desktop prototype - it follows some of the best things about the first, and improves upon some of the weaker flaws of the first design. The aside panel is the same as before, as again, it's part of the website not just this page. The search filters are in the same place with the same kind of shape, but instead they offer a dropdown menu of the filters that fall under that category, meaning all search filters can fit onto one page. The writing is also still done in the bold to not bold format to show titles and importance. Now lets move onto what's different. First of all, there's now some space between the title and the top of the page, using a small navigation bar that also allows users to access their account via the profile icon. The tiles have taken more inspiration from the business cards discussed earlier, with a photo of the applicant on one side and the information on the side. This allows for a focus on both the person and their skills as both here are equally important to the company. Lastly, as an option to interview is one of the requirements, a button has been added allowing the viewer to access the applicant's contact information to arrange an interview. This is the finalised design that will be created into high fidelity.</p>
            
            <h2>Mobile Prototype 1</h2>
            <img id="mobilePrototype" src="assets/mp1.jpg">
            <p>Due to the nature of the finalised desktop design, it's fairly to adapt it for phones. The width of one of the applicant tiles just so happens to fit perfectly with the size of most average phone screens, meaning that the same layout can be applied. As found in the research, more often than not, navigation menus are hidden on the side until the three lines in the top left are tapped, which is exactly how the navigation works here. Lastly, the filters can be found at the top under the title - the drop down boxes were not suitable for smaller screen sizes, therefore they've also been hidden in the same respect that the navigation has, in it's own smaller overlay. </p>
            
            <h1>Finished Products</h1>
            <p>The finished products can be found here:</p>

            <p>https://www.figma.com/proto/LKBso3KFpNVu3mXMbDcbGK/Search-Results-Redesign?node-id=0%3A3&scaling=min-zoom
                https://www.figma.com/proto/LKBso3KFpNVu3mXMbDcbGK/Search-Results-Redesign?node-id=75%3A80&scaling=scale-down</p>

            <p>In the case that these links are inaccessible (due to Figma soon becoming a paid program), videos of each prototype can be found here:</p>
            <p>https://drive.google.com/drive/folders/1RRvTNRMCTIflMTw7ernM7cf6WsKWrOwm?usp=sharing</p>
            
        </section>
        
        <footer>
            <div id="backToTop">
                <a href="index.html">
                    <img id="topArrow" src="assets/arrowTop.png">
                    <div>Back to Top</div>
                </a>
            </div>
            
            <div id="footerText">
                <p>Thanks for checking out my portfolio!</p>
                <p>Created by Samantha Ely 2021</p>
            </div>
            
            <div id="footerNav">
                <a href="index.html">
                    <div>Home</div>
                    <div>About Me</div>
                    <div>My Works</div>
                    <div>Contact Me</div>
                </a>
            </div>
            
        </footer>

    </body>
    
</DOCTYPE>