body {
    margin: 0;
    background-color: #FFF9F9;
    font-family: 'Kalam';
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

#bannerImg {
    width: 99vw;
}

#meStamp {
    position: absolute;
    top: 2vw;
    left: 29vw;
    width: 40%;
}

#arrow {
    position: absolute;
    top: 43vw;
    left: 46vw;
    width: 6vw;
}


nav {
    display: grid;
    grid-template-columns: 1fr 20vw 20vw 20vw 1fr;
    background-color: #813030;
    color: white;
    font-size: 2vw;
    text-align: center;
    border-top: 2px dashed #FBDCDC;
    align-content: center;
    height: 4vw;
}

.navItem:hover {
    font-size: 2.2vw;
    text-shadow: 1px 1px 10px #481212;
}

.navItem:visited {
    color: white;
}

#aboutSection {
    display: grid;
    grid-template-columns: 1fr 25vw 35vw 1fr;
    grid-template-areas: ". img info ."
}

h1 {
    font-size: 4vw;
    font-weight: bold;
    color: #813030;
    text-align: center;
    margin: 0;
    margin-top: 1vw;
}

#aboutImg {
    width: 25vw;
    grid-area: img;
}

#aboutText {
    grid-area: info;
    font-size: 1.25vw;
    margin-left: 1.5vw;
    color: #813030;
}

#aboutBold {
    font-weight: bold;
    margin: 0;
}

#signature {
    position: absolute;
    grid-area: info;
    font-family: 'Yesteryear';
    font-size: 5vw;
    color: #813030;
    right: 25vw;
    top: 93vw;
}

.spacers {
    height: 1vh;
    margin-top: 8vh;
    color: #813030;
    opacity: 25%;
    border-top: 2px dashed #813030;
}

#worksSection {
    margin: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". one two three .";
    grid-gap: 3vw;
    justify-content: center;
}

#a1 {
    grid-area: one;
}

#a2 {
    grid-area: two;
}

#a3 {
    grid-area: three;
}

#thumbnail1 {
    width: 25vw;
    border-radius: 100%;
}

#thumbnail2 {
    width: 25vw;
    border-radius: 100%;
}

#thumbnail3 {
    width: 25vw;
    border-radius: 100%;
}

#hover1 {
    width: 25vw;
    margin-top: -6vw;
}

#hover2 {
    width: 25vw;
    margin-top: -5vw;
}

#hover3 {
    width: 25vw;
    margin-top: -6vw;
}

#contact {
    display: grid;
    justify-content: center;
}

#contactText{
    margin: -2vw;
    font-size: 2vw;
    color: #813030;
    text-align: center;
}

#socials {
    width: 50vw;
    margin-top: 2vw;
}

footer {
    background-color: #633131;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "top thanks nav";
    margin-top: 3vw;
}

#footerText {
    grid-area: thanks;
    text-align: center;
    font-size: 2vw;
    color: #FBDCDC;
    
}

#backToTop {
    grid-area: top;
    color: #FBDCDC;
    text-align: center;
    font-size: 2vw;
    margin-left: 5vw;
    margin-top: 4vw;
}

#footerNav {
    display:grid;
    color: #FBDCDC;
    font-size: 1.5vw;
    text-align: center;
    align-content: center;
}

#workNav {
    display: grid;
    grid-template-columns: 1fr 20vw 20vw 20vw 20vw 1fr;
    background-color: #813030;
    color: white;
    font-size: 2vw;
    text-align: center;
    align-content: center;
    height: 4vw;
}

#projectThumbnail {
    display: grid;
    justify-content: center;
    width: 100%;
}

#introTiles {
    display: grid;
    grid-template-columns: 1fr 40vw 3vw 40vw 1fr;
}

.tile {
    background-color: #DDCFCC;
    padding: 1.5vw;
    color: #813030;
    border-radius: 2vw;
    margin-top: 2vw;
}

#tileTitle {
    color: #813030;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

.tileText {
    margin: 0;
    font-size: 1vw;
}

#content {
    margin: 0;
    color: #813030;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1vw;
}

#recipegrid {
    width: 45%;
    position: absolute;
    transform: translate(25vw, -20vw)
}

#table {
    width: 50%;
    margin-left: 21vw;
}

#cardPhoto {
    margin-left: 27vw;
    width: 30%;
}

#mobileImage1 {
    width: 20%;
    margin-left: 23vw;
    margin-right: 3vw;
}

#mobileImage2 {
    width: 20%;
    margin-right: 20vw;
}

#prototype {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#mobilePrototype {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#msgExample {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#mobileMsg1 {
    width: 20%;
    margin-left: 17vw;
} 

#mobileMsg {
    width: 20%;
}

#overlayPrototype {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
